:root {
  --pistachio: #2b4570;

  --white: #b5817e;
  --moderate-yellow: #aa767c;
  --natural: #a8d0db;
  --cardSectionColor: #e2eff3;
  --formSectionColor: #e49273;
}

body {
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--cardSectionColor);
}

.animated-text {
  /*  font-style: italic;
  font-size: x-large; */
}

.card {
  /* border: 4px solid #E49273; */
  border-radius: 20px;
}

.card-whole .card-container-overlay {
  position: relative;
}

.card-whole .card-container-overlay .overlay {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden;
  width: 100%;
  height: 0%;

  transition: 0.5s ease;
  background-color: var(--natural);
  color: white;
}

.card-container-overlay .image-1 {
  display: block;
  width: 100%;
}

.card-whole :hover .overlay {
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.overlay .text {
  /* color: white; */
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  opacity: 80%;
}

.card-middle {
  /* border: 2px solid black; */
  /* height:5vw; */
  background-color: var(--pistachio);
  /* background-color: #a7ac38;
background-color: #bd9c74;
color:#bd9c74 ; */
}

.resume-container1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--pistachio);
  color: aliceblue;
  padding-left: 5px;
  padding-right: 5px;
  font-size: x-large;
}

.list-contact {
  list-style-type: none;
}

.icon-style {
  font-size: 30px;
}

/* .form-design{
     background-color: aqua;
 } */

.contact-form-container {
  /* margin-top: 100px; */
  background-color: var(--pistachio);
  border-radius: 15px;
  border: 6px solid var(--natural);
}

.navbar-custom-design {
  background-color: var(--pistachio);
}

.main-section-custom-design {
  background-color: var(--natural);
}

.cards-container-custom-design {
  background-color: var(--cardSectionColor);
}
.text-link {
  color: white;
}

.badge-custom-design {
  background-color: var(--pistachio);
  color: white;
}

.footer-custom-design {
  background-color: var(--pistachio);
  color: white;
}

.section-footer {
  background-color: var(--pistachio);
  padding-top: 20px;
  border-top: 4px solid gray;
}

.contact-form-section-design {
  background-color: var(--cardSectionColor);
}

@media screen and (max-width: 800px) {
  .overlay {
    display: none;
  }
}

/* @media (max-width: 540px) {
    .container {
      width: 500px;
      background-color: pink;;
    }
  }


 
@media (max-width: 400px) { 
    .card-img-top {
        
     height: 100vw;


    } 
    
     
     .text-link{
         font-size: smaller;
         
     }
    

 }





 
 @media (max-width: 767.98px) { 
    .card-img-top {

        height: 40vw;
       
    } 
    
     
     .container{
         width:700px;
         background-color:green;
     }
 } 

 
 @media (max-width: 991.98px) { 
    .card-img-top {

        height: 30vw;

    } 
    
     
    .container{
        max-width: 900px;
        background-color: red;
    }
    }

    @media (max-width: 1300px){
        .container {
            width:1200px;
            background-color: black;;
        }
    }


 */

.conatiner {
  width: 100%;
}
