:root {
    --pistachio: #a7ac38;
    --white: #ffffff;
    --moderate-yellow: #C4A53E;
    --natural: #bd9c74;
    
  }


body { 
    padding-top: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

.card{
    border: 2px solid #a7ac38;
}


.card-whole .card-container-overlay{
    position : relative;
   
}

.card-whole .card-container-overlay .overlay{
    position:absolute;
   
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;
  width: 100%;
  height: 0%;
    
  transition: .5s ease;
   background-color: var(--natural);
}

.card-container-overlay .image-1{
    display:block;
    width: 100%;
    
}

.card-whole   :hover .overlay {
    height: 100%;
    
}
.overlay .text {
    /* color: white; */
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

   .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
} 

 .card-middle{
    /* border: 2px solid black; */
    height:5vw;
    background-color: var(--pistachio);
    /* background-color: #a7ac38;
background-color: #bd9c74;
color:#bd9c74 ; */
 } 

 .card-text-color{
     color:red;
 }

 .resume-container{
     background-color: var(--pistachio);
     color:aliceblue;
     padding-top: 5px;
     padding-bottom: 5px;
 }

 /* .form-design{
     background-color: aqua;
 } */

 .contact-form-container{
     background-color: var(--pistachio);
     border-radius: 15px;
 }

 .navbar-custom-design{
     background-color: var(--pistachio);;
      }

.main-section-custom-design{
background-color: var(--natural);
}

/* .cards-container-custom-design{
    background-color: #c4a53e;
} */
.text-link{
    color:white;
   
}

.card-footer-custom-design{
    background-color: #bd9c74;
}

.badge-custom-design{
    background-color: var(--pistachio);
}


 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 400px) { 
    .card-img-top {
        
     height: 100vw;


    } 
    
     .card-middle{
       
        height:15vw;
        
      
     } 
     .text-link{
         font-size: smaller;
         
     }
    

 }

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
    .card-img-top {

        height: 40vw;
       
    } 
    
     .card-middle{

         height:10vw;
       
     } 
 } 

 /* Medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
    .card-img-top {

        height: 30vw;

    } 
    
     .card-middle{
        
         height:7vw;
       
     } 
 }

 